[submodule "deconstruct-experiments/correct-vg-deconstruct-vcf"]
	path = deconstruct-experiments/correct-vg-deconstruct-vcf
	url = https://github.com/dubssieg/correct-vg-deconstruct-vcf.git
[submodule "graph-distance/rs-pancat-compare"]
	path = graph-distance/rs-pancat-compare
	url = https://github.com/dubssieg/rs-pancat-compare.git
[submodule "manipulation-tools/rs-pancat-paths"]
	path = manipulation-tools/rs-pancat-paths
	url = https://github.com/dubssieg/rs-pancat-paths.git
[submodule "manipulation-tools/sharepg"]
	path = manipulation-tools/sharepg
	url = https://github.com/dubssieg/sharepg.git
[submodule "manipulation-tools/gfagraphs"]
	path = manipulation-tools/gfagraphs
	url = https://github.com/dubssieg/gfagraphs.git
[submodule "manipulation-tools/pancat"]
	path = manipulation-tools/pancat
	url = https://github.com/dubssieg/pancat.git
[submodule "evaluate-graph/pangenome-benchmark"]
	path = evaluate-graph/pangenome-benchmark
	url = https://github.com/dubssieg/pangenome-benchmark.git
[submodule "isera"]
	path = discontinued-projects/isera
	url = https://github.com/dubssieg/isera.git
[submodule "pangenome-notes"]
	path = discontinued-projects/pangenome-notes
	url = https://github.com/dubssieg/pangenome-notes.git
[submodule "graph-distance/pancat_paper"]
	path = graph-distance/pancat_paper
	url = https://github.com/dubssieg/pancat_paper.git
[submodule "collaboration-projects/INVPG_annot"]
	path = collaboration-projects/INVPG_annot
	url = https://github.com/SandraLouise/INVPG_annot.git
[submodule "collaboration-projects/INVPG_annot_paper"]
	path = collaboration-projects/INVPG_annot_paper
	url = https://github.com/SandraLouise/INVPG_annot_paper.git
[submodule "collaboration-projects/Stage"]
	path = collaboration-projects/Stage
	url = https://github.com/cb-inria/Stage.git
